html{
    background-color: #d3d3d3;
    height: 100%;
}

body {
    width: 60em;
    height:100%;
    margin: 0 auto;
    display: grid;
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: 
        "header     header"
        "categories main"
        "footer     footer";
}

body > header {
    padding-top: 1em;
    padding-left: 1em;
    /*box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    grid-area: header;
}

body > header img {
    height: 30px;
    width: 30px;
    display: inline-block;
    vertical-align: middle;
}

body > header h1 {
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Unica One', cursive;
    margin: 0px;
    color: black;
}

body > header h2 {
    padding-left: 1em;
    text-decoration: none;
    vertical-align: middle;
    font-family: 'Unica One', cursive;
    margin: 0px;
    color: black;
    line-height: 0.2em;
    font-size: 1em;
}

body > header #logOut{
    float: right;
    position: relative;
    bottom: 27.5px;
    padding-right: 1.5em;   
}

body > header #logOut:hover {
    font-weight: 700;
}

body > header #logOut a{
    text-decoration: none;
    color: black;
}

.content {
    grid-area: main;
    padding-top: 3em;
    padding-bottom: 3em;
    text-align: center;
    line-height: 2em;
    border-left: dotted 2px #808080;
}

#signInImg img{
    width: 450px;
    height: 300px;
    vertical-align: middle;
}

#signInImg{
    padding: 1em; 
    padding-top:4em;
}

.content #signUp{
    padding-top: 1em;
}

.content span{
    display: block;
}

.content span a{
    text-decoration: none;
    color: #808080;
}

.listsDisplay {
    grid-area: main;
    padding-bottom: 3em;
    line-height: 2em;
}

.categories {
    grid-area: categories;
}

footer {
    grid-area: footer;
}

#signIn form {
    font-weight: bolder;
}

#signIn label {
    padding-right: 2em;
}

#signIn form div{
    display: block;
}

#signIn form #username {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signIn form #password {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signIn form #submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
}

#signIn form #submit:hover {
    background-color: #4CAF65;
}

.signUp span{
    display: block;
}

.signUp a{
    color: darkgray;
}