html{
    background-color: #d3d3d3;
    height: 100%;
}

body {
    width: 60em;
    height:100%;
    margin: 0 auto;
    display: grid;
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
     "header      header"
     "categories  main"
     "footer      footer";
}

/*-----------------HEADER HANDLING---------------------*/

/*General coloring and positioning*/
body > header {
    padding-top: 1em;
    padding-left: 1em;
    background-color: #003333;
    /*box-shadow:  0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    grid-area: header;
    padding-bottom: 1.5em;
}

/*Different element positioning*/
body > header > span {
    display: inline-block;
}

/*Website's logo*/
body > header #title i {
    padding-top: 0.4em;
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 2.3em;
    padding-right: 0.3em;
}

/*Website's title*/
body > header h1 {
    padding-top: 0.35em;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Unica One', cursive;
    margin: 0px;
    color: white;
}

/*Profile and logout buttons*/
body > header #headerMenu{
    float: right;
    padding-right: 2em;
    padding-top: 0.8em;
}

body > header #headerMenu a:hover {
    font-weight: 700;
}

body > header #headerMenu a{
    text-decoration: none;
    color: white;
}

body > header #headerMenu a:first-child{
    padding-right: 1em;
    border-right: solid 1px white;
}

body > header #headerMenu a:nth-child(2){
    padding-left: 1em;
}

/*Search button*/
body > header #searchBox{
    float:right;
    padding-right: 1em;
}

/*Search box positioning and appearance*/
body > header #searchBox #filter{
    padding: 8px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Search box icon positioning and appearance*/
body > header #searchBox #filtersubmit {
    position: relative;
    z-index: 1;
    left: -30px;
    top: -1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

/*----------------MAIN CONTENT HANDLING------------------*/

/*General positioning*/
.content {
    grid-area: main;
    padding-top: 2em;
    padding-bottom: 3em;
    text-align: center;
    line-height: 2em;
    border-left: dotted 2px #808080;
    background-color: white;
}

/*Sign in page positioning and coloring*/
.content span{
    display: block;
}

.content span a{
    text-decoration: none;
    color: #808080;
}

#signIn form {
    font-weight: bolder;
}

#signIn label {
    padding-right: 2em;
}

#signIn form div{
    display: block;
}

#signIn form #inputVar {
    padding: 12px 27px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signIn form #userIcon {
    position: relative;
    z-index: 1;
    left: 12px;
    color: #7B7B7B;
    width: 0;
}

#signIn form #lockIcon {
    position: relative;
    z-index: 1;
    left: 15px;
    color: #7B7B7B;
    width: 0;
}

#signIn form #lockIcon {
    position: relative;
    z-index: 1;
    left: 15px;
    color: #7B7B7B;
    width: 0;
}

#signIn form #submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
}

#signIn form #submit:hover {
    background-color: #4CAF65;
}

.content #signUp{
    padding-top: 1em;
}

.content #title{
    width: 75%;
    padding: 0.5em;
    margin: 8px 0;
    border: 1px solid #003333;
    border-radius: 4px;
    background-color: #eee;
}

.content #save_button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
}

.content #save_button:hover {
    background-color: #4CAF65;
}

.content #hashtags{
    width:15%;
    padding: 0.2em;
    border: 1px solid #003333;
    border-radius: 4px;
    background-color: #eee;
}

#hastag_list{
    display: inline-block;
    background-color: #003333;
    color: white;
    font-size: 0.7em;
    padding: 3px;
    margin: 3px;
}

#hastag_list::before{
    content: '#';
}

/*Add a list button*/
.content #todo_add_button {
     width: 75%;
    padding: 0.5em;
    margin: 8px 0;
    border: 1px solid #003333;
    border-radius: 4px;
    cursor: pointer;
    background-color: #eee;
}

.content #profilePic{
    position: relative;
    padding:1px;
    border:1px solid #003333;
    float: left;
    margin-left: 1em;
}

/*---------------------ASIDE HANDLING----------------*/
.categories {
    grid-area: categories;
    padding-left: 2.5em;
    background-color: white;
}

.categories p{
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.categories #settings{
    padding-left: 1em;
}

.categories #settingsIcon {
    position: relative;
    z-index: 1;
    top: 44px;
    width: 0;
}

.categories a{
    display: block;
    text-decoration: none;
    color: black;
    line-height: 2em;
    padding-left: 2em;
}

.filters {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.filters input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0px;
  height: 15px;
  width: 15px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.filters:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.filters input:checked ~ .checkmark {
  background-color: #003333;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.filters input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.filters .checkmark:after {
  top: 2px; 
  left: 5px;
  width: 2px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

footer {
    background-color: #003333;
    grid-area: footer;
    color: white;
    padding-left: 1em;
}