/*********************************************************
*------------------GLOBAL POSITIONING--------------------*
**********************************************************/

html{
    height: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: white;
}

.login {
    height:100%;
    margin: 0 auto;
    display: grid;
    font-family: 'Oxygen', sans-serif;
    background-color: white;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
     "header"
     "main"
     "footer";
    background-color: #f7f7f7;
    text-align: center;
}

.main {
    height:100%;
    margin: 0 auto;
    display: grid;
    font-family: 'Oxygen', sans-serif;
    background-color: #f7f7f7;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 0.5fr 1fr 3fr 1fr;
    grid-template-areas:
     "header      header        header      header"
     ".           categories    main        ."
     "footer      footer        footer      footer";
}

/*********************************************************
*--------------------------HEADER------------------------*
**********************************************************/

/*General coloring and positioning*/
body > header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #A9A9A9;
    grid-area: header;
    display: inline-block;
}

/*Different element positioning*/
body > header > span {
    display: inline-block;
}

/*Website's logo*/
body > header #title img {
    vertical-align:middle;
}

/*Website's title*/
body > header h1 {
    padding-left: 1em;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    font-family: 'Unica One', cursive;
    margin: 0px;
    color: #A9A9A9;
}

/*Header dropdown positioning*/
body > header #headerMenu{
    float: right;
    padding-right: 1em;
    padding-top: 0.3em;
}

/*Header dropdown styling*/
body > header #headerMenu button{
    border: none;
    background-color: #f7f7f7;
}

/*Settings icon color*/
body > header #headerMenu button i{
    color: #A9A9A9;
}

/*Search box button*/
body > header #searchBox{
    float:right;
    padding-right: 0.55em;
}

/*Search box positioning and appearance*/
body > header #searchBox #filter{
    padding: 3px 5px;
    margin-top: 0.5em; 
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/*Search box icon positioning and appearance*/
body > header #searchBox #filtersubmit {
    position: relative;
    z-index: 1;
    left: -30px;
    top: -1px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

/*********************************************************
*----------------------MAIN CONTENT----------------------*
**********************************************************/

/*Main page and profile page positioning*/
.main .content {
    grid-area: main;
    padding-top: 2em;
    padding-bottom: 3em;
    text-align: center;
    line-height: 2em;
    border-left: solid 1px #A9A9A9;
    border-right: solid 1px #A9A9A9;
    background-color: white;
}

/*Login and register page positioning*/
.login .content{
    grid-area: main;
    line-height: 2em;
    width: 40%;
    margin: auto;
    border: solid 1px #A9A9A9;
    border-radius: 6px; 
    background-color: #f7f7f7;
    padding: 1em;
}

/*Login and Register page positioning and coloring*/
.content span{
    display: block;
}

.content span a{
    text-decoration: none;
    color: #A9A9A9;
}

.content span a:hover{
    text-decoration: underline;
}

#signIn form {
    font-weight: bolder;
    color: #A9A9A9;
}

#signIn label {
    padding-right: 2em;
}

#signIn form div{
    display: block;
}

/*Text inputs styling and positioning*/
#signIn form #inputVar {
    padding: 12px 27px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
    box-sizing: border-box;
}

/*User icon postioning*/
#signIn form #userIcon {
    position: relative;
    z-index: 1;
    left: 12px;
    color: #A9A9A9;
    width: 0;
}

/*Password icon postioning*/
#signIn form #lockIcon {
    position: relative;
    z-index: 1;
    left: 15px;
    color: #A9A9A9;
    width: 0;
}

/*Email icon postioning*/
#signIn form #emailIcon {
    position: relative;
    z-index: 1;
    left: 12px;
    color: #A9A9A9;
    width: 0;
}

/*Submit button posioning and coloring*/
#signIn form #submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
}

#signIn form #submit:hover {
    background-color: #4CAF65;
}

.content #signUp{
    padding-top: 1em;
}

/*------------------List editor------------------*/
#item{
    width:45%;
    padding: 0.2em;
    border: 1px solid #003333;
    border-radius: 4px;
    background-color: #eee;
}

#list_adder{
    padding-top: 1em;
    padding-bottom: 1em;
    width: 85%;
    height: auto;
    background-color: red;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #eee;
}

.content > #list_title{
    width: 75%;
    padding: 0.5em;
    margin: 8px 0;
    border: 1px solid #003333;
    border-radius: 4px;
    background-color: #eee;
}

.content #save_button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
}

.content #save_button:hover {
    background-color: #4CAF65;
}

.content #list_tags{
    width:15%;
    padding: 0.2em;
    border: 1px solid #A9A9A9;
    border-radius: 4px;
    background-color: #eee;
}

#hastag_list{
    display: inline-block;
    background-color: #A9A9A9;
    color: white;
    font-size: 0.7em;
    padding: 3px;
    margin: 3px;
}

#hastag_list::before{
    content: '#';
}

/*Add an add list button*/
.content #todo_add_button {
    width: auto;
    border: none;
    background-color: white;
    float: right;
}

/*------------------Saved Lists------------------*/
.content .savedLists{
    width: 100%;
    length: 100%;
    margin-left: 1em;
    align-self: left;
    display: grid;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 250px 250px 250px;
    grid-template-areas:
     "list list list"
     "list list list"
     "list list list"
}

.content .savedLists #single_list{
    background-color: #f7f7f7;
    border: 1px solid #a9a9a9;
    font-size: 0.9em;
    position: relative;
}

.content .savedLists #single_list #list_title{
    width: 60%;
    font-weight: bold;
    text-decoration: underline;
    text-align: left;
    padding-left: 0.8em;
    overflow: hidden;
}

.content .savedLists #single_list #list_date{
    width: 60%;
    line-height: 0.3em;
    font-size: 0.75em;
    color: #a9a9a9;
    text-align: left;
    padding-left: 1em;
}

.content .savedLists #single_list #list_tags{
    float: right;
}

.content .savedLists #single_list #list_priority{
    line-height: 0.1em;
    font-size: 1.3em;
    color: green;
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.content .savedLists #single_list #bulletpoints{
    display: block;
    text-align: left;
    padding-left: 1.2em;
    padding-top: 0.5em;
}

.content .savedLists #single_list #bulletpoints #single_bulletpoint i{
    padding-right: 1em; 
}

/*------------------Profile----------------------*/
.content #profilePic{
    display: block;
    margin: 0 auto;
    border: 1px solid #a9a9a9;
    padding: 1px;
    height: 150px;
    width: 150px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
}

.content #cropPic{
    margin-left: 2em; 
    max-width: 170px;
    height: auto;
    position: relative;
    overflow: hidden;
}

/*---------------------ASIDE HANDLING----------------*/
.categories {
    grid-area: categories;
    padding-left: 2.5em;
    background-color: #f7f7f7;
}

.categories button{
    border: none;
    background-color: #f7f7f7;
}

.categories button:hover{
    cursor: pointer;
}

.categories #sortByDate button:hover{
    background-color: #f1f1f1;
}

.categories #sortByDate button{
    display: flex;
    width: 100%;
    padding-left: 3em;
}

.categories #sortByDate button i{
    position: relative;
    top: 15px;
    right: 5px;
}

.categories #sortByFilter{
    display: inline-block;
}

.categories #sortByDate button{
    text-align: left;
}

.categories #sortByFilter{
    display: flex;
    height: auto;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
}

.categories #sortByFilter button{
    border-bottom: 1px solid #A9A9A9;
    color: #A9A9A9;
    width: 80px;
}

.categories #sortByFilter button p{
    margin-bottom: 0em;
}

.categories #sortByFilter button:last-child{
    padding-right: 0.8em;
    margin-right: 0.8em;
}

.categories #sortByFilter button:hover{
    border-bottom: 1px solid black;
    color: black;
}

.categories #sortByFilter button.active{
    border-bottom: 1px solid black;
    color: black;
}

/*-------------------------------SETTINGS DROPDOWN------------------------*/

#headerMenu {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
#headerDropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
}

#headerDropdown a {
    margin-bottom: 10px;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#headerDropdown a:last-child{
    margin-bottom: 0px;
}

#headerDropdown a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
#headerMenu:hover #headerDropdown {
    display: block;
}

/*---------------------------------FOOTER HANDLING------------------------------------*/

footer {
    background-color: #f7f7f7;
    border-top: 1px solid #A9A9A9;
    grid-area: footer;
    color: #A9A9A9;
    font-weight: bolder;
    padding-left: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer span{
    float: right;
    font-size: 0.8em;
    padding-right: 1em;
}

@media (max-width: 70em) {

}

@media (max-width: 768px) {

}

@media (max-width: 520px) {

    header{
        margin-bottom: 1em;
    }

    header h1{
        font-size: 1.5em;
    }

    header img{
        width: 30px;
    }

    .content{
        width: 100%;
        overflow: hidden;
    }

    #signIn form #inputVar {
        width: 100%;
        padding-left: 1em;
    }

    #signIn form #userIcon {
        visibility: hidden;
        position: absolute;
    }

    #signIn form #lockIcon {
        visibility: hidden;
        position: absolute;
    }

    #text{
        font-size: 0.8em;
        line-height: 1em;
    }
}

 /* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 
