body {
    font-family: 'Oxygen', sans-serif;
}

header img {
    height: 30px;
    width: 30px;
    background: #000;
    display: inline-block;
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Unica One', cursive;
    margin: 0px;
    color: black;
}

#signIn {
    padding-top: 5em;
    padding-bottom: 3em;
    text-align: center;
    line-height: 2em;
}

#signIn form{
    font-weight: bolder;
}

#signIn label{
    padding-right: 2em;
}

#signIn form #username {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signIn form #password {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#signIn form #submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Oxygen', sans-serif;
}

#signIn form #submit:hover{
    background-color: #4CAF70;
}

.signUp {
    text-align: center;
    line-height: 2em;
}

.signUp a {
    color: darkgray;
}

/* MainPage.html */

#mainPage{
    line-height: 0.5em;
}

header h2{
    font-size: 1em;
}

#logOut{
    padding: 5em;
    text-align: right;
}
